<launch>
	<param name="use_sim_time " value="true" />

	<!-- <node pkg="robot_driver" type="dataProcess" name="dataProcess" output="screen">	</node> -->

	<node pkg="robot_driver" type="movement" name="movement" output="screen">
		<remap from="RosAria/cmd_vel" to="cmd_vel"/>
	</node>

	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find robot_driver)/world/empty.world">
		<remap from="base_scan" to="scan"/>
	</node>




</launch>
